a {
    text-decoration: none;
}

img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px ;
}

#loading {
    width: max-content;
    height: max-content;
}

.list-item {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 250px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s;
}

.list-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
}

.container {
    padding: 0px 20px;
}

p {
    height: calc(2em + 4px);
    overflow: hidden;
}

#bg-image {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    filter: blur(4px) opacity(0.8);
    background-size: cover;
    background-image: url('./marvel.webp');
    ;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* search */
#search {
    margin: 20px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 500px;
    height: 40px;
}

#fav {
    width: 28px;
    height: 28px;
}

.fav-img {
    width: 20px;
    height: 20px;
}

button {
    border: none;
    padding: 0;
    background-color: transparent;
}